.menubar {
  color: $mainFontColor;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
  top: 16px;
  right: 16px;
  z-index: 10;
  ul {
    font-size: 2.4rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;

    li {
      cursor: pointer;
      margin-right: 16px;
      transition: 0.3s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
